<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        .section {
            margin-bottom: 50px;
            padding: 0%;
        }

        @import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

        body {
            font-family: 'Poppins', sans-serif;
            background: #fafafa;
            width: 100%;
        }

        p {
            font-family: 'Poppins', sans-serif;
            font-size: 1.1em;
            font-weight: 300;
            font-style: bold;
            line-height: 1.7em;
            color: black;
        }

        .wrapper {
            display: flex;
            position: relative;
            width: 100%;
            align-items: stretch;
            max-width: 100%;
            margin: 0 auto;
        }

        #content {
            width: 100%;
            min-height: 100vh;
            transition: all 0.3s;
            height: auto;
            margin: 0px 50px;
        }

        table {
            border-collapse: collapse;
            width: 100%;
            text-align: center;
            overflow-x: auto;
        }

        th,
        td {
            padding: 8px;
            border: 1px solid black;
        }

        td:not(:first-child) {
            word-wrap: break-word;
            word-break: break-all;
        }

        th {
            background-color: green;
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
        integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
        crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
        integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
        crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../js/script.js"></script>

</head>

<body>
    <div class="wrapper">
        <div id="content">
            <nav>
                <section class="section" id="section1">
                    <p>Begin by examining the list of processes to locate the process labeled "@WanaDecryptor". Upon investigation, it has been confirmed that a process named "@WanaDecryptor" has been identified with a process ID (PID) of:</p>
                    <table id="reportTable">
                        <thead>
                            <tr>
                                <th>PID</th>
                            </tr>
                        </thead>
                        <tbody>
                            {SUSPID_CONTENT}
                        </tbody>
                    </table>
                </section>
                <section class="section" id="section3">
                    <p>Obtain all processes associated with the "@wanadecryptor" process, including its child processes, parent processes, and ancestor processes. Retrieve the complete process ID (PID) and store it for further reference.</p>
                    
                    Conduct an examination of the connected connections within the memory file by employing the netscan plugin. Consequently, a connection utilizing the SMB port {SMB_PORT} has been detected. The process identified by the PID {SMB_PID} is responsible for utilizing this particular port.
                    
                </section>
                <section class="section" id="section4">
                    <p>Perform a process dump of all the identified malicious PIDs and subsequently conduct a comprehensive virus scan on these processes.</p>
                    <table id="reportTable">
                        <thead>
                            <tr>
                                <th>PID</th>
                                <th>Process Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            {PID_CONTENT}
                        </tbody>
                    </table>
                </section>
                <section class="section" id="section5">
                    <p>Analysis some hidden process, and here is the result:</p>
                    <table id="reportTable">
                        <thead>
                            <tr>
                                <th>PID</th>
                            </tr>
                        </thead>
                        <tbody>
                            {HIDPID}
                        </tbody>
                    </table>
                </section>
                <section class="section" id="section6">
                    <h1>Dlllist</h1>
                    <table id="reportTable">
                        <thead>
                            <tr>
                                {DLLLIST_HEADER}
                            </tr>
                        </thead>
                        <tbody>
                            {DLLLIST_CONTENT}
                        </tbody>
                    </table>
                    <br>
                    <h1>Ldrmod</h1>
                    <table id="reportTable">
                        <thead>
                            <tr>
                                {LDRMOD_HEADER}
                            </tr>
                        </thead>
                        <tbody>
                            {LDRMOD_CONTENT}
                        </tbody>
                    </table>
                    <p><br>During the execution of the ldrmod plugin to scan for concealed DLL files, several DLL files were discovered that appear to be of a suspicious nature:</p>
                    <table id="reportTable">
                        <thead>
                            <tr>
                                <th>Ldrmod_IOC</th>
                            </tr>
                        </thead>
                        <tbody>
                            {LDRMODIOC_CONTENT}
                        </tbody>
                    </table>
                    <br>
                    <h1>Filescan</h1>
                    <table id="reportTable">
                        <thead>
                            <tr>
                                {FILESCAN_HEADER}
                            </tr>
                        </thead>
                        <tbody>
                            {FILESCAN_CONTENT}
                        </tbody>
                    </table>
                    <br>
                    <p>A file associated with the notorious ransomware known as WannaCry, specifically a signature file pertaining to WannaCry, has been detected:</p>
                    <table id="reportTable">
                        <thead>
                            <tr>
                                <th>Filescan_IOC</th>
                            </tr>
                        </thead>
                        <tbody>
                            {FILESCANIOC_CONTENT}
                        </tbody>
                    </table>
                </section>
                <section class="section" id="section7">
                    <h1>Handles</h1>
                    <table id="reportTable">
                        <thead>
                            <tr>
                                {HANDLES_HEADER}
                            </tr>
                        </thead>
                        <tbody>
                            {HANDLES_CONTENT}
                        </tbody>
                    </table>
                    <br>
                    <section class="section" id="sectionmutex">
                        <p>A collection of mutex mutants has been detected, indicating the existence of potentially malicious activities or processes :</p>
                        <table id="reportTable">
                            <thead>
                                <tr>
                                    <th>Mutex_IOC</th>
                                </tr>
                            </thead>
                            <tbody>
                                {MUTEX_CONTENT}
                            </tbody>
                        </table>
                    </section>
                    <br>
                    <section class="section" id="sectionwanna">
                        <p>An alarming file path has been identified, suggesting the presence of a potentially suspicious file : </p>
                        <table id="reportTable">
                            <thead>
                                <tr>
                                    <th>WannaPath_IOC</th>
                                </tr>
                            </thead>
                            <tbody>
                                {WANNAPATH_CONTENT}
                            </tbody>
                        </table>
                    </section>
                </section>
                <section class="section" id="section8">
                    <h1>Cmdline</h1>
                    <table id="reportTable">
                        <thead>
                            <tr>
                                {CMDLINE_HEADER}
                            </tr>
                        </thead>
                        <tbody>
                            {CMDLINE_CONTENT}
                        </tbody>
                    </table>
                </section>
                <section class="section" id="section9">
                    <h1>Registry</h1>
                    <table id="reportTable">
                        <thead>
                            <tr>
                                <th>Last Write Time</th>
                                <th>Hive Offset</th>
                                <th>Type</th>
                                <th>Key</th>
                                <th>Name</th>
                                <th>Data</th>
                                <th>Volatile</th>
                            </tr>
                        </thead>
                        <tbody>
                            {REGISTRY_CONTENT}
                        </tbody>
                    </table>
                </section>
                <section class="section" id="section10">
                    <p>After all analysis done, the result from the analysis as follows: </p>
                    <table id="reportTable">
                        <thead>
                            <tr>
                                <th>PID</th>
                                <th>Process</th>
                                <th>Malware Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            {SUMMARY_CONTENT}
                        </tbody>
                    </table>
                </section>
            </nav>
            <footer style="height: 250px;"></footer>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>

    <script type="text/javascript">
        window.onload = function () {
            var section5Element = document.getElementById('section5');
            var section5Content = section5Element.innerHTML;

            var sectionmutexElement = document.getElementById('sectionmutex');
            var sectionmutexContent = sectionmutexElement.innerHTML;

            var sectionwannaElement = document.getElementById('sectionwanna');
            var sectionwannaContent = sectionwannaElement.innerHTML;

            if (section5Content.includes('kosong')) {
                section5Element.style.display = 'none';
            }

            if (sectionmutexContent.includes('kosong')) {
                sectionmutexElement.style.display = 'none';
            }

            if (sectionwannaContent.includes('kosong')) {
                sectionwannaElement.style.display = 'none';
            }
        };
    </script>
</body>


</html>
<!-- @app.route('/process-form', methods=['POST'])
def process_form():
    command = request.form.get("physical-check")
    if command == 'true':
        return jsonify({"message": "true"})       
    else:
        return jsonify({"message": "false"}) -->