<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AutoVolt Manual</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        #side_nav {
            background: black;
            min-width: 250px;
            max-width: 250px;
            padding-top: 5vh;
        }

        .navbar {
            margin: 0;
            padding: 0;
        }

        .custom-navbar .navbar {
            padding: 0 !important;
        }

        li {
            color: white;
        }

        .vl {
            border-left: 6px solid white;
            height: 100%;
        }

        .dim {
            opacity: 0.2;
            cursor: not-allowed;
        }

        select {
            width: 210px;
            font-size: 18px;
            outline: none;
        }

        .subparser {
            margin-bottom: 20px;
        }

        .messagecommand {
            color: white;
        }

        table {
            border-collapse: collapse;
            width: 100%;
            text-align: center;
        }

        th,
        td {
            padding: 8px;
            border: 1px solid black;
        }

        th {
            background-color: green;
        }

        .clicked-row {
            background-color: #ff4d4d;
            /* Warna latar belakang untuk baris yang sudah diklik */
        }

        .bt-generate {
            position: absolute;
            right: 0;
        }
    </style>
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="style.css">
    <!-- <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script> -->

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
        integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
        crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
        integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
        crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light sticky-top" style="background: #404040;">
        <div class="container-fluid">
            <a class="navbar-brand" href="./index.html" style="color: white;">Auto Volt <span
                    style="font-size: 11px;">v1.0</span></a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mx-5  me-auto mb-2 mb-lg-0">
                    <li class="nav-item ms-3 me-5" style="margin: 0;padding: 0;">
                        <div class="vl"></div>
                    </li>
                    <li class="nav-item">
                        <h5 class="mt-2" style="font-size: 20px;">Web Interface For Volatility
                            Framework
                            3.0</h5>
                    </li>
                    <li class="">
                        <form action="#">
                            <button class="mt-1 bt-generate me-2" type="submit" onclick="notifSuccess()"><i
                                    class='fas fa-file-alt'></i>
                                Generate Report</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">

            <ul class="list-unstyled components">
                <form id="form1" method="post" enctype="multipart/form-data">
                    <!-- Form pertama -->
                    <label for="file-path" style="margin-top: 20px;">Browse Image:</label><br>
                    <input type="file" name="file" onchange="submitform()">
                </form>
                <form name="my-form" id="my-form" action="#" method="post">
                    <label style="margin-top: 20px; margin-bottom: 0;" for="command">Command:</label>
                    <select name="command" id="command" onchange="showInput()">
                        <option value="">Select a Command</option>
                        <option value="info">windows.info</option>
                        <option value="windows.pslist.PsList">windows.pslist</option>
                        <option value="windows.pstree.PsTree">windows.pstree</option>
                        <option value="windows.psscan.PsScan">windows.psscan</option>
                        <option value="netstat">windows.netstat</option>
                        <option value="windows.netscan.NetScan">windows.netscan</option>
                        <option value="windows.dlllist.DllList">windows.dlllist</option>
                        <option value="windows.handles.Handles">windows.handles</option>
                        <option value="windows.registry.printkey.PrintKey">windows.registry.printkey</option>
                        <option value="filescan">windows.filescan</option>
                        <option value="windows.malfind.Malfind">windows.malfind</option>
                        <option value="windows.cmdline.CmdLine">windows.cmdline</option>
                    </select>

                    <button type="submit" value="Submit" name="submit"><i class="fa fa-code"></i></button>

                    <div class="subparser" id="pid-field" style="display:none;">
                        <label for="pid-fieldvalue">PID:</label><br>
                        <input type="text" id="pid-fieldvalue" name="pid-fieldvalue">
                    </div>

                    <div class="subparser" id="offset-field" style="display:none;">
                        <label for="offset-fieldvalue">Offset:</label><br>
                        <input type="text" id="offset-fieldvalue" name="offset-fieldvalue">
                    </div>

                    <div class="subparser" id="key-field" style="display:none;">
                        <label for="key-fieldvalue">Key:</label><br>
                        <input type="text" id="key-fieldvalue" name="key-fieldvalue">
                    </div>

                    <div class="subparser" id="physical-field" style="display:none;">
                        <label for="physical-check">Physical:</label>
                        <input type="checkbox" id="physical-check" name="physical-check" autocomplete="off">
                    </div>

                    <div class="subparser" id="include-corrupt" style="display:none;">
                        <label for="include-corruptCheck">Include Corrupt:</label>
                        <input type="checkbox" id="include-corruptCheck" name="include-corruptCheck">
                    </div>

                    <div class="subparser" id="recurse" style="display:none;">
                        <label for="recurseCheck">Recurse:</label>
                        <input type="checkbox" id="recurseCheck" name="recurseCheck">
                    </div>

                    <div class="subparser" id="dump" style="display:none;">
                        <label for="dumpCheck">Dump:</label>
                        <input type="checkbox" id="dumpCheck" name="dumpCheck">
                    </div>

                </form>
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">
            <button type="button" id="sidebarCollapse" class="btn btn-info">
                <i class="fas fa-align-left"></i>
            </button>
            <button class="btn btn-dark d-inline-block d-lg-none ml-auto sticky-top" type="button"
                data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-align-justify"></i>
            </button>
            <br>
            <div class="messagecommand" id="result">
            </div>
            <br>
            <table id="data-table" style="display: none;">
                <thead>
                </thead>
                <tbody id="tableBody">
                </tbody>
            </table>
        </div>
    </div>

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>

    <script type="text/javascript">
        var dictionary = {};
        function showInput() {
            var pidField = document.getElementById("pid-field");
            var offsetField = document.getElementById("offset-field");
            var keyField = document.getElementById("key-field");
            var dumpCheck = document.getElementById("dump");
            var physicalField = document.getElementById("physical-field");
            var includeCorrupt = document.getElementById("include-corrupt");
            var recurseCheck = document.getElementById("recurse");
            var command = document.getElementById("command").value;

            if (command == "windows.pslist.PsList" || command == "windows.pstree.PsTree" || command == "windows.psscan.PsScan" || command == "windows.dlllist.DllList" || command == "windows.handles.Handles" || command == "windows.malfind.Malfind" || command == "windows.cmdline.CmdLine") {
                pidField.style.display = "block";
            } else {
                pidField.style.display = "none";
            }
            if (command == "windows.pslist.PsList" || command == "windows.pstree.PsTree" || command == "windows.psscan.PsScan") {
                physicalField.style.display = "block";
            } else {
                physicalField.style.display = "none";
            }
            if (command == "windows.registry.printkey.PrintKey") {
                offsetField.style.display = "block";
                keyField.style.display = "block";
                recurseCheck.style.display = "block";
            } else {
                offsetField.style.display = "none";
                keyField.style.display = "none";
                recurseCheck.style.display = "none";
            }
            if (command == "windows.netscan.NetScan" || command == "netstat") {
                includeCorrupt.style.display = "block";
            } else {
                includeCorrupt.style.display = "none";
            }
            if (command == "windows.pslist.PsList" || command == "windows.psscan.PsScan" || command == "windows.dlllist.DllList" || command == "windows.malfind.Malfind") {
                dumpCheck.style.display = "block";
            } else {
                dumpCheck.style.display = "none";
            }
        }
        function openFileExplorer() {
            // Membuat elemen input untuk memilih file
            var input = document.createElement('input');
            input.type = 'file';

            // Menambahkan event listener untuk mendapatkan path file yang dipilih
            input.onchange = function (event) {
                var file = event.target.files[0];

                // Memeriksa apakah file yang dipilih valid
                if (file) {
                    // Mengambil nilai 'name' dari file yang dipilih
                    var path = file.name;

                    // Mengubah value dari input text dengan id 'file' menjadi path file yang dipilih
                    document.getElementById('file-path').value = path;
                } else {
                    console.log('Tidak ada file yang dipilih.');
                }
            };

            // Membuka file explorer
            input.click();
        }

        function findIndeks(tempDict, command) {
            var counter = 0;
            for (var i = 0; i < tempDict.length; i++) {
                // console.log(tempDict[i])
                if (tempDict[i] == "PID") {
                    counter = i;
                    break;
                } else if (tempDict[i] == "Name" && command == "windows.registry.printkey.PrintKey") {
                    counter = i;
                    break;
                }
            };
            return counter;
        }
        
        function submitform(){
            $('#form1').submit();
        }

        document.getElementById("my-form").addEventListener("submit", function (event) {
            event.preventDefault();
            $('#form1').submit();
            var pidValue = document.getElementById("pid-fieldvalue").value;
            var offsetValue = document.getElementById("offset-fieldvalue").value;
            var keyValue = document.getElementById("key-fieldvalue").value;
            if (document.getElementById("dumpCheck").checked) {
                document.getElementById("dumpCheck").value = "true"
            } else {
                document.getElementById("dumpCheck").value = "false"
            }
            if (document.getElementById("include-corruptCheck").checked) {
                document.getElementById("include-corruptCheck").value = "true";
            } else {
                document.getElementById("include-corruptCheck").value = "false"
            }
            if (document.getElementById("recurseCheck").checked) {
                document.getElementById("recurseCheck").value = "true";
            } else {
                document.getElementById("recurseCheck").value = "false"
            }
            if (document.getElementById("physical-check").checked) {
                document.getElementById("physical-check").value = "true";
            } else {
                document.getElementById("physical-check").value = "false"
            }
            var command = document.getElementById("command").value;
            // var filePath = document.getElementById("file-path").value;
            var table = document.getElementById("data-table");
            table.style.display = "block";
            var tbody = table.getElementsByTagName("tbody")[0];
            while (tbody.firstChild) {
                tbody.removeChild(tbody.firstChild);
            }
            $.ajax({
                type: "POST", // method request
                url: "/process-form", // url request
                data: $('form').serialize(), // data yang dikirimkan
                success: function (result) { // response sukses
                    // $("#message").text("Command: " + result.message);
                    // $.each(result, function (key, value) {
                    //     console.log(key + ": " + value);
                    //     // atau Anda bisa menambahkan kode untuk menampilkan data tersebut di halaman web
                    // });
                    // var html = '';
                    // $.each(result, function (key, value) {

                    // });
                    console.log(result)
                    var tableHeaderRow = table.insertRow();
                    var headerKeys = Object.keys(result);
                    for (var i = 0; i < headerKeys.length; i++) {
                        var headerCell = document.createElement("th");
                        headerCell.textContent = headerKeys[i];
                        tableHeaderRow.appendChild(headerCell);
                    }

                    var indekskey = findIndeks(headerKeys, command)
                    console.log(indekskey)
                    if (command == "windows.registry.printkey.PrintKey") {
                        for (var j = 0; j < result["Key"].length; j++) {
                            var tableBody = document.getElementById("tableBody");
                            var dataRow = document.createElement("tr");
                            for (var key in result) {
                                var dataCell = document.createElement("td");
                                var dataText = document.createTextNode(result[key][j]);
                                dataCell.appendChild(dataText);
                                dataRow.appendChild(dataCell);
                            }
                            var tempkey = dataRow.children[indekskey].textContent;
                            if (dictionary.hasOwnProperty(tempkey)) {
                                dataRow.classList.add("clicked-row");
                            }
                            tableBody.appendChild(dataRow);
                            dataRow.addEventListener("click", function () {
                                var key = this.children[indekskey].textContent;
                                if (dictionary.hasOwnProperty(key)) {
                                    this.classList.add("clicked-row");
                                }
                                if (!this.classList.contains("clicked-row")) {
                                    for (var i = 1; i < dataRow.cells.length; i++) {
                                        var value = this.cells[i].textContent;
                                        addToDictionary(key, value);
                                    }
                                    console.log(dictionary);
                                    this.classList.add("clicked-row");
                                } else {
                                    removeFromDictionary(key)
                                    this.classList.remove("clicked-row");
                                }
                            });

                        }
                    } else {
                        for (var j = 0; j < result["PID"].length; j++) {
                            var tableBody = document.getElementById("tableBody");
                            var dataRow = document.createElement("tr");
                            for (var key in result) {
                                var dataCell = document.createElement("td");
                                var dataText = document.createTextNode(result[key][j]);
                                dataCell.appendChild(dataText);
                                dataRow.appendChild(dataCell);
                            }
                            var tempkey = dataRow.children[indekskey].textContent;
                            if (dictionary.hasOwnProperty(tempkey)) {
                                dataRow.classList.add("clicked-row");
                            }
                            tableBody.appendChild(dataRow);
                            dataRow.addEventListener("click", function () {
                                var key = this.children[indekskey].textContent;
                                if (dictionary.hasOwnProperty(key)) {
                                    this.classList.add("clicked-row");
                                }
                                if (!this.classList.contains("clicked-row")) {
                                    for (var i = 1; i < dataRow.cells.length; i++) {
                                        var value = this.cells[i].textContent;
                                        addToDictionary(key, value);
                                    }
                                    console.log(dictionary);
                                    this.classList.add("clicked-row");
                                } else {
                                    removeFromDictionary(key)
                                    this.classList.remove("clicked-row");
                                }
                            });
                        }
                    }
                    // for (var key in result) {
                    //     var row = table.insertRow();
                    //     var cell1 = row.insertCell(0);
                    //     var cell2 = row.insertCell(1);
                    //     cell1.innerHTML = key;
                    //     cell2.innerHTML = result[key];
                    // }
                    // $('#result').html(html);
                },
                error: function (xhr, status, error) { // response gagal
                    console.log(xhr.responseText); // menampilkan pesan error di console log
                }
            });
            tbody.innerHTML = "";
            document.getElementById("my-form").reset();
        });

        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
                $(this).toggleClass('dim');
            });
        });
        var button = document.getElementById("sidebarCollapse"); // Ganti "myButton" dengan ID tombol Anda
        var sidebar = document.getElementById("sidebar"); // Ganti "mySidebar" dengan ID sidebar Anda

        function shiftButton() {
            if (sidebar.classList.contains("active")) {
                button.style.left = "0";
                document.querySelector("#content").style.marginLeft = "0";
            } else {
                button.style.left = "260px";
                document.querySelector("#content").style.marginLeft = "300px"; // Ganti "200px" dengan jarak yang diinginkan dari sisi kanan
            }
        }

        sidebar.addEventListener("transitionend", shiftButton);

        sidebar.addEventListener("transitionstart", shiftButton);

        window.addEventListener("resize", shiftButton);


        function addToDictionary(key, value) {
            if (key in dictionary) {
                dictionary[key].push(value); // Menambahkan nilai baru ke array yang ada
            } else {
                dictionary[key] = [value]; // Membuat array baru dengan nilai sebagai elemen pertama
            }
        }

        function removeFromDictionary(key) {
            delete dictionary[key];
            console.log(dictionary);
        }

        var filepath = "{{ file_path }}" + "/static/reports";
        function notifSuccess() {
            event.preventDefault()
            $.ajax({
                type: "POST", // method request
                url: "/generate_report", // url request
                data: $('form').serialize(), // data yang dikirimkan
                success: function (result) { // response sukses
                    alert('File berhasil diunduh pada ' + filepath);
                },
                error: function (xhr, status, error) { // response gagal
                    console.log(xhr.responseText); // menampilkan pesan error di console log
                }
            });
        }
    </script>
</body>


</html>